[submodule "src/sensor/camera/realsense_ros"]
	path = src/sensor/camera/realsense_ros
	url = https://gitee.com/bingobinlw/realsense-ros
	tag = 2.2.11
[submodule "src/sensor/lidar/rplidar_ros"]
	path = src/sensor/lidar/rplidar_ros
	url = https://gitee.com/bingobinlw/rplidar_ros
	branch = master
